.mainContainer {
  height: 100%;
  
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
}

.contentContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.taskContainer {
  height: auto;
  width: 25pc;
  padding: 14px;
  box-shadow: #bbbbbb 0 0 3px 0px;
  border-radius: 6px;
}

.topTaskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btnAddTask {
  border: none;
  border-radius: 50px;
  background-color: #76cbb7;
  padding: 10px;
  color: white;
  font-weight: 500;
}

.bottomTaskContainer {
  margin-top: 18px;
}

.itemContainer {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f7f6f3;
  user-select: none;
}